* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ::selection {
       background: #03a9f4;
  
  }
  
  body {
    background-color: #03a9f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
  }
  
  .container :where(textarea, button) {
    outline: 0;
    border: 0;
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px 0;
    /* font-style: normal; */
  }
  .container textarea {
    border: 1px solid #999;
  }
  
  .container button {
      background: #B3E5FC;
      transition: all 1s;
  
  }
  